<!DOCTYPE html>
<html ng-app="radioApp">
<head>
  <meta charset="UTF-8">
  <title>Radio Harbor Country Livestream</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.9/howler.core.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://use.fontawesome.com/ee6ae2c63c.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="RadioController" data-ng-init="init()" style="text-align:center;">
  <div style="margin: 0 auto;">
    <img src="RHC_logo.png" style="width:75%;">
  </div>
  <h3 style="font-family:Arial,Helvetica,sans-serif"><span style="color:#B83D37">Now playing:</span> {{song}}</h3>
  <i class="fa fa-play-circle-o fa-5x"
     style="margin-right:1em;"
     ng-click="play()"
     onMouseOver="this.style.color='#B83D37'"
     onMouseOut="this.style.color='#000'"></i>
  <i class="fa fa-pause-circle-o fa-5x"
     style="margin-left:1em;"
     ng-click="pause()"
     onMouseOver="this.style.color='#B83D37'"
     onMouseOut="this.style.color='#000'"></i>
</body>
</html>